<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side" opened="isExpanded">
    <mat-nav-list>
      <mat-list-item (click)="isExpanded = !isExpanded">
        <mat-icon
          mat-list-icon
          class="chevron-button"
          [ngClass]="{ rotated: isExpanded }"
          >chevron_right
        </mat-icon>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>home</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Dashboard</span>
        <mat-menu #subMenu="matMenu">
          <button mat-menu-item (click)="navigateToAppointmentTable()">
            appointment table
          </button>
          <button mat-menu-item (click)="navigateToRequestTable()">
            Request table
          </button>
          <button mat-menu-item (click)="navigateToReviewTable()">
            Review table
          </button>

          <button mat-menu-item (click)="navigateToServiceConsumerTable()">
            Service Consumer
          </button>
          <button mat-menu-item (click)="navigateToServiceProviderTable()">
            Service provider
          </button>
          <button mat-menu-item (click)="navigateToPendingServiceProvider()">
            Pending Service provider
          </button>

          <button mat-menu-item (click)="navigateToStudentsTable()">
            students table
          </button>

          <button mat-menu-item (click)="navigateToAcceptedStudentsTable()">
            accepted students table
          </button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="subMenu">
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
      </mat-list-item>

      <mat-list-item (click)="navigateToInfo()">
        <mat-icon mat-list-icon>supervisor_account</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Info</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Content - rendered Content for the current router path into the <router-outlet>, e.g. /dashboard or /info-->
  <mat-sidenav-content>
    <mat-toolbar>
      <h1>Welcome to Dashboard page</h1>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
