<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side" opened="isExpanded">
    <mat-nav-list>
      <mat-list-item (click)="isExpanded = !isExpanded">
        <mat-icon
          mat-list-icon
          class="chevron-button"
          [ngClass]="{ rotated: isExpanded }"
          >chevron_right
        </mat-icon>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>home</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Dashboard</span>
        <mat-menu #subMenu="matMenu">
          <button mat-menu-item [routerLink]="'appointment-table'">
            appointment table
          </button>
          <button mat-menu-item [routerLink]="'request-table'">
            Request table
          </button>
          <button mat-menu-item [routerLink]="'review-table'">
            Review table
          </button>
          <button mat-menu-item [routerLink]="'schedule-table'">
            Schedule table
          </button>
          <button mat-menu-item [routerLink]="'service-consumer-table'">
            Service Consumer
          </button>
          <button mat-menu-item [routerLink]="'service-provider-table'">
            Service provider
          </button>
          <button mat-menu-item [routerLink]="'pending-service-provider'">
            Pending Service provider
          </button>

          <button mat-menu-item [routerLink]="'students-table'">
            students table
          </button>

          <button mat-menu-item [routerLink]="'accepted-students-table'">
            accepted students table
          </button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="subMenu">
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
      </mat-list-item>

      <mat-list-item [routerLink]="'info'">
        <mat-icon mat-list-icon>important_devices</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Info</span>
      </mat-list-item>

      <mat-list-item [routerLink]="'user'">
        <mat-icon mat-list-icon>supervisor_account</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">User</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Content - rendered Content for the current router path into the <router-outlet>, e.g. /dashboard or /info-->
  <mat-sidenav-content>
    <mat-toolbar>
      <h4>Hello everyone</h4>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
