<p>pending-service-provider works!</p>

<mat-form-field>
  <input
    matInput
    col
    placeholder="First Name"
    [(ngModel)]="serviceProviderTableDetails.first_name"
  />
</mat-form-field>

<mat-form-field>
  <input
    matInput
    col
    placeholder="Last Name"
    [(ngModel)]="serviceProviderTableDetails.last_name"
  />
</mat-form-field>

<mat-form-field>
  <input
    matInput
    col
    placeholder="email"
    [(ngModel)]="serviceProviderTableDetails.email"
  />
</mat-form-field>

<mat-form-field>
  <input
    matInput
    col
    placeholder="password"
    [(ngModel)]="serviceProviderTableDetails.password"
  />
</mat-form-field>

<mat-form-field>
  <input
    matInput
    col
    placeholder="national_id"
    [(ngModel)]="serviceProviderTableDetails.national_id"
  />
</mat-form-field>

<mat-form-field>
  <input
    matInput
    col
    placeholder="active_zone"
    [(ngModel)]="serviceProviderTableDetails.active_zone"
  />
</mat-form-field>

<mat-form-field>
  <input
    matInput
    col
    placeholder="available_spots"
    [(ngModel)]="serviceProviderTableDetails.available_spots"
  />
</mat-form-field>

<mat-form-field>
  <input
    matInput
    col
    placeholder="profession"
    [(ngModel)]="serviceProviderTableDetails.profession"
  />
</mat-form-field>

<mat-form-field>
  <input
    matInput
    col
    placeholder="number_of_raters"
    [(ngModel)]="serviceProviderTableDetails.rate_ratio"
  />
</mat-form-field>

<mat-form-field>
  <input
    matInput
    col
    placeholder="rate_ratio"
    [(ngModel)]="serviceProviderTableDetails.rate_ratio"
  />
</mat-form-field>

<button mat-raised-button (click)="addServiceProvider()">Add</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
  <ng-container matColumnDef="first_name">
    <th mat-header-cell *matHeaderCellDef>first_name</th>
    <td mat-cell *matCellDef="let element">{{ element.first_name }}</td>
  </ng-container>

  <ng-container matColumnDef="last_name">
    <th mat-header-cell *matHeaderCellDef>last_name</th>
    <td mat-cell *matCellDef="let element">{{ element.last_name }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>email</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>

  <ng-container matColumnDef="national_id">
    <th mat-header-cell *matHeaderCellDef>national_id</th>
    <td mat-cell *matCellDef="let element">{{ element.national_id }}</td>
  </ng-container>

  <ng-container matColumnDef="active_zone">
    <th mat-header-cell *matHeaderCellDef>active_zone</th>
    <td mat-cell *matCellDef="let element">{{ element.active_zone }}</td>
  </ng-container>

  <ng-container matColumnDef="available_spots">
    <th mat-header-cell *matHeaderCellDef>available_spots</th>
    <td mat-cell *matCellDef="let element">{{ element.available_spots }}</td>
  </ng-container>

  <ng-container matColumnDef="phone_number">
    <th mat-header-cell *matHeaderCellDef>phone_number</th>
    <td mat-cell *matCellDef="let element">{{ element.phone_number }}</td>
  </ng-container>

  <ng-container matColumnDef="profession">
    <th mat-header-cell *matHeaderCellDef>profession</th>
    <td mat-cell *matCellDef="let element">{{ element.profession }}</td>
  </ng-container>

  <ng-container matColumnDef="number_of_raters">
    <th mat-header-cell *matHeaderCellDef>number_of_raters</th>
    <td mat-cell *matCellDef="let element">{{ element.number_of_raters }}</td>
  </ng-container>

  <ng-container matColumnDef="rate_ratio">
    <th mat-header-cell *matHeaderCellDef>rate_ratio</th>
    <td mat-cell *matCellDef="let element">{{ element.rate_ratio }}</td>
  </ng-container>

  <ng-container matColumnDef="is_active">
    <th mat-header-cell *matHeaderCellDef>is_active</th>
    <td mat-cell *matCellDef="let element">{{ element.is_active }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-button
        class="button-remove"
        (click)="removeServiceProider(element.id)"
      >
        Delete
      </button>

      <button
        mat-button
        class="button-remove"
        (click)="acceptServiceProvider(element.id)"
      >
        Accept
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    [hidden]="row.is_active === true"
  ></tr>
</table>

<button (click)="goBack()">Go Back</button>
