.background-img{
  background-image: url(./assets/images/worker-background.png);
  
  // height: 650 px;  
  // color: #fff;
  // background-size: 100% ;
    background-size: cover ;
}

mat-sidenav-container {
    height: 100%;
  
    mat-sidenav {
      mat-nav-list {
        .menu-item {
          margin-left: 8px;
        }
  
        .chevron-button {
          transition: 300ms ease-in-out;
          transform: rotate(0deg);
        }
  
        .chevron-button.rotated {
          transform: rotate(180deg);
        }
      }
    }
  }
  